<%= link_to "return home page", ask_path %>
<br>

<span class="row justify-content-center">You</span>
<br>
<%= @question %>
<br>
<span class="row justify-content-center">Your coach</span>
<br>
<%= @great %>
